<h1>New Question</h1>

<form action="/" method="post">
  <label>Title:
    <input type="text" name="question[body]">
  </label>
  Which test does it belong to?

  <input type="submit" value="Create">
</form>
