<div class="container">
  <div class="col-md-6 offset-md-3">
    <h1>Contact Me</h1>
    <div id="flash-message">
      <%= render 'shared/flash_messages' %>
    </div>
    <div id="contact">
      <%= render 'contact_form' %>
    </div>
  </div>
</div>
